*{
    margin: 0cm;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
}
header {
    min-height: 9vh; 
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: cornflowerblue;
}
header h1{
    font-size: 2.5em;
    color: aliceblue;

}
main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #18acfe, #0166e1);

    display:flex;
    justify-content: center;
    
    box-shadow: inset 0px 2px 3px rgba( 0, 0, 0 , 0,25);
}

main form {
    margin-top: 5%;
    width: 35%;
    height: 75vh;
    background-color:#18acfe;
    box-shadow: 0px 3px 4px rgba( 0, 0, 0 , 0,4) inset 0px 4px 4px rgba( 0, 0, 0 , 0,25);
    border-radius: 18px;
    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
main form .inputs-container{
        
}